/saves/
/profileImage/
/logs/
/lightspeed-cache/
/crash-reports/
options.txt
config/oculus.properties
config/reforgium-renderer.properties
config/oculus.properties
config/reforgium-renderer.properties
